# FOR DEBUG
logdir = '.log'
DEFAULT_INTERVAL = '1h'  # '99999d'
FAIL_INTERVAL = 60  # seconds
PREPARE_DATASETS_FREQ = 200
TRY_UPDATE_DATASETS_FREQ = 300
UPDATE_DATASETS_FREQ = 600
CHECK_RUNNING_ORPHAN_SYNC = 20
CONFIG_FREQ = 20
