[Unit]
Description=Omix Zfs Replicate

[Service]
ExecStart=/usr/local/sbin/omix_replicate.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=omix_rep

[Install]
WantedBy=multi-user.target
